body{
	
	position: relative;
	
	margin:0px;
	
	font-family: '나눔스퀘어라운드';
	
	
}

.header{
	
	display: inline-block;
	position: fixed;
	top:0px;
	
	
	width:100%;
	height:50px;

	background: white;
	box-shadow: 1px 1px 2px rgba(100,100,100,0.3);

	
	box-sizing: border-box;
	
	font-size: 1.6rem;
	font-weight: bold;

	cursor: default;
	z-index:50;
}

.header > .title{
	display: inline-block;

	height:100%;
	
	padding:0.7rem;
	padding-left:1rem;
	
	box-sizing: border-box;
	
	float:left;
	
}


.innerContent{
	display: inline-block;
	position: relative;
	margin-top:50px;
	
	width:100%;
	min-height:calc(100% - 130px);
	
}
.footer{
	
	display: inline-block;
	
	position: relative;
	
	width:100%;

	height:80px;
	border-top: 1px solid rgba(100,100,100,0.2);
	
	box-sizing: border-box;
	padding:1rem;
	
	text-align:center;
	
	color: rgba(100,100,100,1);
	
	
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.4);
}
